.site-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--off-white);
    position: relative;
}

.site-main {
    flex: 1 0 auto;
    width: 100%;
}
